html,
body,
div,
span,
h1,
h2,
h3,
h4,
p,
a,
img,
strong,
sub,
sup,
b,
u,
i,
ol,
ul,
li,
article {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
