/* Inter fonts import - 
font-weight:: 400/500;
font-family: 'Inter', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Noto+Sans+Georgian:wght@200;300;400&family=Open+Sans:wght@400;500;800&family=Roboto:wght@700;900&family=Yellowtail&display=swap");
/* Cabin fonts import - 
font-weight: 600;
font-family: 'Cabin', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Inter:wght@400;500&family=Noto+Sans+Georgian:wght@200;300;400&family=Open+Sans:wght@400;500;800&family=Poppins:wght@600;700&family=Roboto:wght@700;900&family=Yellowtail&display=swap");

/* Typography style */
.interFt,
select {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #37393f;
  line-height: 26.314px;
}

.cabinFt {
  font-family: "Cabin", sans-serif;
  font-size: 1.125rem;
  text-transform: capitalize;
  color: #fff;
}

.popinsFt {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #37393f;
  line-height: 48.4px;
}

/* display stuff */
.display {
  display: flex;
  justify-content: space-between;
}

/* Header Section*/
.collar_header,
.work_section,
.expert_container {
  align-items: center;
  width: 100%;
  max-width: 76.25rem;
  height: 4.0625rem;
  margin: 0 auto;
  margin-top: 3.25rem;
}

.logo {
  margin-right: 12.1875rem;
}

.nav_links,
.nav_links ul {
  display: flex;
}

.nav_links ul {
  align-items: center;
}

.nav_links a,
select {
  margin-right: 1.875rem;
}

.navigation_container {
  display: flex;
  gap: 2.5rem;
}

.consulting_btn {
  padding: 21px 35px 22px 35px;
  border: none;
  background-color: #6b77e5;
}

/* Work Process Section */

.work_section {
  height: 31.875rem;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 8.5rem;
}

.process_block {
  width: 18.3125rem;
  margin: 0 auto;
}

.work_heading {
  text-align: center;
  width: 21.75rem;
}

.headerBt {
  margin-bottom: 1rem;
}

.info_block {
  width: 76.25rem;
  height: 23.9375rem;
  margin-top: 2.5625rem;
}

.info_content {
  width: 24.125rem;
  padding: 58px 43px;
  text-align: center;
  background-color: #f4f4f4;
}

.content_heading {
  font-size: 25px;
  font-weight: 600;
}

.content_description {
  margin: 16px 0 37px 0;
  color: #7d7d7d;
  line-height: 146.187%;
}

.testimonaials {
  font-weight: 600;
  text-transform: capitalize;
  color: #6b77e5;
}

.bg_icon {
  margin: 10px auto;
}

/* Banner Section */
.banner_section {
  position: relative;
  margin: 60px 0 130px 0;
  text-align: center;
}

.banner_section img {
  width: 100%;
  max-width: 120rem;
}

.banner_content {
  width: 31.9375rem;
  height: 16.9375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.presentation_title {
  margin: 16px 21px;
}

.play_btn {
  margin-top: 47px;
}

/* Expert Section */
.expert_container {
  width: 76.25rem;
  height: 41.1875rem;
  text-align: center;
  margin-bottom: 130px;
}

.process_block {
  width: 18.3125rem;
  margin: 0 auto;
}

.photo_container {
  margin-top: 41px;
  align-items: center;
}

.export_name {
  font-size: 25px;
}

.statusFt {
  color: #7d7d7d;
  line-height: 24.334px;
}

.expert_image_box {
  position: relative;
}

.export_info {
  width: 21.3125rem;
  position: absolute;
  bottom: 22px;
  left: 22px;
  background-color: #ffffff;
  padding: 24px 59px;
}
