/* Inter fonts import - 
font-weight:: 400/500;
font-family: 'Inter', sans-serif; */
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Noto+Sans+Georgian:wght@200;300;400&family=Open+Sans:wght@400;500;800&family=Roboto:wght@700;900&family=Yellowtail&display=swap');
/* Cabin fonts import - 
font-weight: 600;
font-family: 'Cabin', sans-serif;
*/
  @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Inter:wght@400;500&family=Noto+Sans+Georgian:wght@200;300;400&family=Open+Sans:wght@400;500;800&family=Poppins:wght@600;700&family=Roboto:wght@700;900&family=Yellowtail&display=swap');
  