/* Inter fonts import - 
font-weight:: 400/500;
font-family: 'Inter', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Noto+Sans+Georgian:wght@200;300;400&family=Open+Sans:wght@400;500;800&family=Roboto:wght@700;900&family=Yellowtail&display=swap");
/* Cabin fonts import - 
font-weight: 600;
font-family: 'Cabin', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Inter:wght@400;500&family=Noto+Sans+Georgian:wght@200;300;400&family=Open+Sans:wght@400;500;800&family=Poppins:wght@600;700&family=Roboto:wght@700;900&family=Yellowtail&display=swap");

/* Typography style */
.interFt,
select {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #37393f;
  line-height: 26.314px ; 
}

.cabinFt {
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  text-transform: capitalize;
  color: #fff;
}

.popinsFt {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #37393f;
  line-height: 48.4px;
  
}
/* display stuff */
.display {
  display: flex;
  justify-content: space-between;
}

/* Header Section*/
.collar_header,
.work_section {
  align-items: center;
  width: 100%;
  max-width: 76.25rem;
  height: 65px;
  margin: 0 auto;
  margin-top: 52px;
}
.logo {
  margin-right: 195px;
}
.nav_links,
.nav_links ul {
  display: flex;
}

.nav_links ul {
  align-items: center;
}

.nav_links a,
select {
  margin-right: 30px;
}

.navigation_container {
  display: flex;
  gap: 40px;
}

.consulting_btn {
  padding: 21px 35px 22px 35px;
  border: none;
  background-color: #6b77e5;
}

/* Work Process Section */

.work_section {
  height: 510px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 136px;
}

.process_block {
  width: 283px;
  margin: 0 auto;
}

.work_heading {
  margin-bottom: 16px;
  text-align: center;
}

.info_block {
  width: 1220px;
  height: 383px;
  margin-top: 41px;
}

.info_content {
  width: 386px;
  padding: 58px 43px;
  text-align: center;
  background-color: #f4f4f4;
}

.content_heading {
  font-size: 25px;
  font-weight: 600;
}

.content_description {
  margin: 16px 0 37px 0;
  color: #7d7d7d;
  line-height: 146.187%;
}

.testimonaials {
  font-weight: 600;
  text-transform: capitalize;
  color: #6b77e5;
}

.bg_icon {
  margin: 10px auto;
}
/* Banner Section */
.banner_section {
  position: relative;
  margin: 60px 0 130px 0;
  text-align: center;
}

.banner_section img {
  width: 100%;
  max-width: 1920px;
}

.banner_content {
  width: 511px;
  height: 271px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.presentation_title {
  margin: 16px 21px;
}
.play_btn {
  margin-top:47px;
}